.technology {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 220px 0;
    gap: 20px;

    .left_tech {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    h5 {
        font-size: 14px;
        text-transform: uppercase;
    }

    h2 {
        max-width: 409px;
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    p {
        color: #666666;
        font-size: 16px;
        max-width: 403px;
    }
}

.speed {
    background: #F2F2F2;
}

.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 25px 160px;
    background: #222222;
    color: #ffffff;
    gap: 5px;

    h3 {
        font-size: 14px;
        text-transform: uppercase;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 18px;
        margin-bottom: 30px;
        max-width: 578px;
        text-align: center;
    }

    .dark_img {
        max-width: 400px;
        min-width: 200px;
        position: relative;
    }
    .dark_img::after {
        content: '';
        height: 2px;
        max-width: 600px;
        width: 600px;
        background: #E5E5E5;
        position: absolute;
        bottom: 5px;
        left: -25%;
    }

    ul {
        display: flex;
        gap: 40px;
        margin-top: 35px;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
            text-transform: uppercase;
        }
        .dark_li {
            width: 24px;
            height: 24px;
        }
    }
}

@media (max-width: 1300px) {
    .technology {
        padding: 80px 100px;
    }
}

@media (max-width: 1050px) {
    .technology {
        justify-content: center;
        
        h5 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    .dark_img::after {
        display: none;
    }
}

@media (max-width: 500px) {
    .technology {
        padding: 80px 50px;
    }
}